* {
  padding: 0px;
  margin: 0px;
}

html {
  max-height: 100vh;
  height: 100%;
}

body {
  height: 100%;
}

body section {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 20%;
}

.search-container {
  background-color: rgb(254, 254, 254);
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 40%;
  width: 90%;
  padding-left: 1em;
  border-radius: 10px;
  border: solid 1px rgb(219, 219, 219);
  color: rgb(117, 117, 117);
}

.search:focus {
  outline: none;
  border: solid 1px rgb(219, 219, 219);
}

.contact-list {
  height: 88%;
  width: 100%;
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 90%;
  display: flex;
  border-radius: 5px;
  margin-block: 0.2em;
  padding-block: 0.2em;
}

.contact:hover {
  background-color: rgb(239, 239, 239);
}

.active {
  background-color: rgb(239, 239, 239);
}

.contact img {
  width: 50px;
  margin-inline: 1em;
  border-radius: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.chat {
  border-inline: solid 1px rgb(219, 219, 219);
}

.chat-header {
  height: 12%;
  display: flex;
  width: 100%;
  border-bottom: solid 1px rgb(219, 219, 219);
}

.chat-active {
  display: flex;
  width: 85%;
  align-items: center;
}

.chat-active img {
  width: 50px;
  margin-inline: 1em;
  border-radius: 100%;
}

.chat-active h3 {
  margin-right: 0.5em;
}

.chat-actions {
  width: 15%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.chat-actions button {
  height: fit-content;
  font-size: 1.5em;
  width: 2em;
  background-color: rgb(254, 254, 254);
  border: none;
}

.chat-messages {
  height: 78%;
  background-color: rgb(246, 248, 249);
  display: flex;
  flex-direction: column;
  padding-block: 1em;
}

.message {
  width: fit-content;
  padding: 0.5em;
  margin-inline: 1em;
  margin-block: 0.3em;
  border-radius: 0.5em;
}

.sent {
  align-self: flex-end;
  background-color: rgb(228, 242, 247);
}

.received {
  background-color: rgb(237, 237, 237);
}

.chat-footer {
  height: 10%;
  width: 100%;
  background-color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  border-top: solid 1px rgb(219, 219, 219);
  ;
}

.chat-footer input {
  background-color: rgb(254, 254, 254);
  border: solid 1px rgb(219, 219, 219);
  width: 95%;
  height: 55%;
  padding-left: 1em;
  margin: 1em;
  border-radius: 10px;
}

.chat-footer button {
  width: 5%;
}